body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin: 0rem;
    overflow: hidden;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }
  
  /* -- YouTube Link Styles -- */
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #button-container {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly */
    position: fixed; /* Fixed positioning to keep it at the bottom */
    bottom: 20px; /* Adjust this value to set the distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 200px; /* Set a fixed width for the container */
  }
  
  #button-forward {
    background-color: #e94d58; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    font-weight: bold; /* Bold text */
  }
  
  #button-back {
    background-color: #e94d58; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    font-weight: bold; /* Bold text */
  }

  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(136, 26, 26, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(62, 133, 133, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }
  h1 {
    text-align: center; /* Center the text horizontally */
    padding-top: 20px; /* Add padding from the top */
    color: #e94d58; /* Add color to the text */
  }
  .centerGif {
    display: flex;
    justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust as needed */
  gap: 5px; /* Adjust the gap between grid items */
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 30%;
  height: auto;
}